WIA®
1.3
JADE
2
JAVA
Mocha Latte
4.99
0.35
medium
2
chocolate
hazelnut
DONUT
Strawberry Delight
0.99
0.2
strawberry
true
strawberry
4
CUSTOMER
Raj
(469) 490-9090
SERVER
Waseem
(682) 369-6969
098-76-5432
CUSTOMER
Nate
(800) 852-3121
SERVER
Mollik
(132) 001-9238
094-83-0924
2
0
CUSTOMER
Raj
(469) 490-9090
SERVER
Waseem
(682) 369-6969
098-76-5432
2
8
DONUT
Strawberry Delight
0.99
0.2
strawberry
true
strawberry
4
JAVA
Mocha Latte
4.99
0.35
medium
2
chocolate
hazelnut
1
CUSTOMER
Nate
(800) 852-3121
SERVER
Mollik
(132) 001-9238
094-83-0924
2
4
DONUT
Strawberry Delight
0.99
0.2
strawberry
true
strawberry
2
JAVA
Mocha Latte
4.99
0.35
medium
2
chocolate
hazelnut
