WIA®
1.0
JADE_Arlington
4
JAVA
Mocha Latte
4.99
0.46
medium
chocolate
hazelnut
none
DONUT
Chocolate Donut
0.99
0.35
chocolate
true
creme
DONUT
Strawberry Donut
0.99
0.37
strawberry
false
strawberry
JAVA
Not Mocha Latte
3.99
0.43
medium
none
