WIA®
1.1
JADE
2
2
DONUT
Strawberry Donut
0.99
0.32
strawberry
true
strawberry
JAVA
Mocha Latte
4.99
0.23
medium
vanilla
hazelnut
none
CUSTOMER
Waseem Alkasbutrus
012 345 6789
CUSTOMER
John Doe
000 000 0000
